.todo-container {
  border: 1px solid lightgray;
  margin: 10px auto;
}

.todo-cards {
  display: flex;
  flex-direction: row;
  justify-content:baseline;
  margin: 10px;
  flex-wrap: wrap;
}
.todo-card {
  width: 180px;
justify-content: space-between;
  &-body {
    
    color: aliceblue;
    background-color: gray;
  }
}
